

.flash-sale {
  height: 60px;
}

.flash-sale img {
  height: 20px;
}

.flash-sale img:nth-child(2) {
  height: 15px;
}

.clock__item {
  display: flex;
}

.clock__item span {
  --w: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--w);
  height: var(--w);
  border-radius: .3rem;
  font-weight: 700;
  color: white;
  background: linear-gradient(rgb(253, 183, 0) 0%, rgb(240, 41, 0) 100%);
}

.clock__item:nth-child(-n+2)::after {
  content: ":";
  margin-left: .25rem;
  color: rgb(240, 41, 0);
}

.banner {
  margin-top: 1rem;
  height: 200px;
  background: no-repeat url(../img/index/banner/banner_bg.png) center /cover;
  margin-inline: 0;
}

.banner a {
  text-decoration: none;
  color: inherit;
}

.banner__heading {
  margin-top: 2rem;
  text-align: right;
}

.banner__heading span {
  font-size: 2.5rem;
  font-weight: 600;
  padding: .5rem 2rem;
  background: var(--main-color);
  border-radius: 1rem;
  color: white;
}

.banner__list {
  list-style-type: none;
  display: flex;
  padding-left: 4rem;
  align-items: center;
  gap: 2rem;
}

.banner__item {
  width: 100px;
  text-align: center;
  transition: all ease .5s;
}

.banner__item:hover {
  transform: translateY(-.5rem);
  /* box-shadow: ; */
  filter: drop-shadow(0 12px 6px rgba(0, 0, 0, .3));
}

.banner__item-text {
  white-space: nowrap;
  font-weight: 600;
  font-size: .875rem;
}

/* Category */
.category {
  padding: 2rem 0;
}

.category__list {
  height: 200px;
}

.category__item {
  display: flex;
  align-items: center;
  text-align: center;
  transition: all .3s ease;
}

.category__item:hover {
  transform: translateY(-.5rem);
  /* box-shadow: ; */
  filter: drop-shadow(0 8px 6px rgba(0, 0, 0, .2));
}

.category__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category__item a {
  color: var(--sub-color);
  text-decoration: none;
}

.category__item-img {
  display: block;
  width: 100px;
  margin-inline: auto;
}

.category__item-name {
  font-weight: 600;
  margin-top: 1rem;
}

/* Items */

.items__heading h4{
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

.items__item-top {
  width: 100%;
  overflow: hidden;
  border-radius: .25rem;
  position: relative;
}

.items__item-top span {
  display: block;
  position: absolute;
  top: 0;
  font-weight: 700;
  color: white;
  font-size: .75rem;
  padding: 0.2rem .5rem;
}

.items__item-top .sold{
  left: 0;
  background: rgba(0, 0, 0, .65);
  border-bottom-right-radius: .25rem;
}

.items__item-top .sales-percent {
  right: 0;
  background: rgba(255, 0, 0, 0.65);
  border-bottom-left-radius: .25rem;
}

.items__img-display {
  transition: all ease .65s;
}

.items__img-display:hover {
  transform: scale(1.1);
}

.items__item {
  min-width: 220px;
  width: 250px;
  height: 100%;
  padding: .25rem;
}

.items__item-body {
  margin: .4rem;
  margin-inline: 0;
  white-space: normal;
}


.items__item-body .name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1rem;
  height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  font-size: .875rem;
  margin-bottom: .75rem;
  text-transform: capitalize;
  color: black;
}

.items__item-body .name:hover {
  color: var(--main-color);
}

.items__item-body .sales-price {
  font-weight: 600;
  color: var(--red-color);
  margin-right: .5rem;
}

.items__item-body .sales-price + .price {
  text-decoration: line-through;
  color: lightslategray;
  font-weight: 500;
}

.items__item-body .price {
  font-weight: 600;
}

.items__item-options {
  display: flex;
  gap: 0 .5rem;
}

.items__item-option img {
  --w : 30px;
  object-fit: cover;
  border-radius: 50%;
  width: var(--w);
  height: var(--w);
  cursor: pointer;
}

.items__item-option.active img,
.items__item-option:hover img{
  outline: 1px solid var(--main-color);
}