.cart__empty span {
  margin-bottom: 1rem;
}

/* Cart */
.product {
  padding: 1rem;
  background: #ffff;
  border-radius: .25rem;
}

.product__heading {
  font-size: 1rem;
  font-weight: 600;
}

.product__heading-qty {
  font-size: .8rem;
}

.cart__list {
  font-size: .875rem;
  margin-top: 2rem;
}

.cart__item {
  font-weight: 500;
}

.cart__item p {
  margin-bottom: 0;
}

.cart__item td {
  text-align: center;
  height: 100px;
}

.cart__item td:first-child {
  text-align: start;
}

.cart__item td:last-child {
  text-align: end;
}

.cart__item-price {
  font-weight: 600;
}

.cart__item-price .sale-price {
  color: var(--red-color);
}

.cart__item-price .sale-price+.price {
  text-decoration: line-through;
  opacity: .6;
}

/* Sub total */

@media (max-width: 768px) {
  .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}