/* Header */
.header {
  max-height: var(--header-height);
  background: rgb(254, 236, 199);
  background: linear-gradient(180deg, rgb(254, 236, 199) 0%, rgba(255, 255, 255, 1) 70%);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.header .logo {
  margin-left: 4px;
}

.header__link {
  color: inherit;
  text-decoration: none;
}

.header .nav-item {
  position: relative;
  text-transform: uppercase;
}

.header .nav-item:first-child .nav-link {
  color: #CD151C;
}

.header .nav-item::after {
  --border-radius: .75rem;
  content: '';
  display: block;
  background: var(--main-color);
  position: absolute;
  left: -5%;
  width: 0;
  height: 4px;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  transition: all ease-in-out .4s;
}

.header .nav-item:hover::after,
.header .nav-item.active::after {
  width: 110%;
}

.header .nav-item.active .nav-link {
  color: var(--main-color);
}

.nav-item:hover .sub-nav {
  display: block;
}

.header .nav-link {
  padding-inline: .5rem;
}

@media (max-width: 768px) {
  .header .logo {
    margin-left: 0;
  }
}

.inset-0 {
  inset: 0;
}

/* Sub nav */
.sub-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: var(--header-height);
  display: none;
  animation: sub-nav-slide-down ease .3s;
}

.sub-nav::before {
  content: "";
  position: absolute;
  display: block;
  height: 1rem;
  bottom: 100%;
  width: 100%;
}

@keyframes sub-nav-slide-down {
  from {
    transform: translateY(5%);
  }
}

.sub-nav__content {
  position: relative;
  background: white;
  z-index: 2;
}

.layer {
  position: fixed;
  inset: 0;
  top: var(--header-height);
  background: rgba(0, 0, 0, 30%);
  z-index: -1;
  display: none;
  animation: layer-show ease .3s;
}

@keyframes layer-show {
  from {
    opacity: 0;
  }
}

.sub-nav__header {
  font-weight: 600;
  font-size: .875rem;
  margin-bottom: 1rem;
}

.sub-nav__header:hover {
  color: var(--main-color);
  cursor: pointer;
  text-transform: uppercase;
}

.sub-nav__list {
  list-style-type: none;
  padding: 0;
}

.sub-nav__item {
  margin-bottom: .5rem;
}

.sub-nav__link {
  font-weight: 500;
  font-size: .875rem;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.sub-nav__link:hover {
  color: var(--main-color);
}

/* Cart */
.cart {
  position: relative;
}

.cart:hover .cart__content {
  display: block;
}

.cart__content {
  position: absolute;
  top: 140%;
  right: -50%;
  background-color: white;
  padding: 1rem;
  min-width: 400px;
  white-space: normal;
  box-shadow: var(--box-shadow-default);
  display: none;
  animation: cart-scale-up .5s ease;
}

@keyframes cart-scale-up {
  from {
    transform: scale(.75);
    transform-origin: top;
  }
}


.cart__content::after {
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
}

.cart__content::before {
  content: "";
  display: block;
  position: absolute;
  border-width: .75rem;
  border-style: solid;
  border-color: transparent transparent var(--main-color) transparent;
  bottom: 100%;
  right: 15%;
}

.cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-sign-block {
  font-size: .875rem;
  white-space: nowrap;
}

#header .cart__list {
  padding: 0;
  margin-top: 0;
}


#header .cart__item-body {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1rem
}

#header .cart__item-variant {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: .25rem .5rem;
}

#header .cart__item-footer {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

/* User menu */
.user {
  position: relative;
}

.user-menu {
  border-top: 4px solid var(--main-color);
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  display: none;
  position: absolute;
  top: 100%;
  box-shadow: var(--box-shadow-default);
  left: 0;
  background: white;
  padding: 0rem 1rem 0;
  animation: cart-scale-up .35s ease;
  transition: all ease .1s;
}

.user-menu ul {
  list-style-type: none;
  color: black;
  padding: 0;
  margin: 0;
}

.user-menu ul li {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}

.user-menu ul li:last-child {
  border: none;
}

.user-menu ul li:hover {
  color: var(--main-color);
}

.user:hover .user-menu {
  display: block;
}