.flash-sale {
  height: 60px;
}

.flash-sale img {
  height: 20px;
}

.flash-sale img:nth-child(2) {
  height: 15px;
}

.clock__item {
  display: flex;
}

.clock__item span {
  --w: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--w);
  height: var(--w);
  border-radius: .3rem;
  font-weight: 700;
  color: white;
  background: linear-gradient(rgb(253, 183, 0) 0%, rgb(240, 41, 0) 100%);
}

.clock__item:nth-child(-n+2)::after {
  content: ":";
  margin-left: .25rem;
  color: rgb(240, 41, 0);
}

.banner {
  margin-top: 1rem;
  height: 200px;
  background: no-repeat url(../img/index/banner/banner_bg.png) center /cover;
  margin-inline: 0;
}

.banner a {
  text-decoration: none;
  color: inherit;
}

.banner__heading {
  margin-top: 2rem;
  text-align: right;
}

.banner__heading span {
  font-size: 2.5rem;
  font-weight: 600;
  padding: .5rem 2rem;
  background: var(--main-color);
  border-radius: 1rem;
  color: white;
}

.banner__list {
  list-style-type: none;
  display: flex;
  padding-left: 4rem;
  align-items: center;
  gap: 2rem;
}

.banner__item {
  width: 100px;
  text-align: center;
  transition: all ease .5s;
}

.banner__item:hover {
  transform: translateY(-.5rem);
  /* box-shadow: ; */
  filter: drop-shadow(0 12px 6px rgba(0, 0, 0, .3));
}

.banner__item-text {
  white-space: nowrap;
  font-weight: 600;
  font-size: .875rem;
}

/* Category */
.category {
  padding: 2rem 0;
}

.category__list {
  height: 200px;
}

.category__item {
  display: flex;
  align-items: center;
  text-align: center;
  transition: all .3s ease;
}

.category__item:hover {
  transform: translateY(-.5rem);
  /* box-shadow: ; */
  filter: drop-shadow(0 8px 6px rgba(0, 0, 0, .2));
}

.category__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category__item a {
  color: var(--sub-color);
  text-decoration: none;
}

.category__item-img {
  display: block;
  width: 100px;
  margin-inline: auto;
}

.category__item-name {
  font-weight: 600;
  margin-top: 1rem;
}


.star-slide {
  animation: slide ease 2s alternate infinite;
}

@keyframes slide {


  to {
    transform: translateX(100px) rotate(360deg);
  }
}

@media (max-width: 768px) {
  
}