main {
  padding: 50px 0;
  min-height: 100vh;
  background: url(../img/login/bg_login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form {
  padding: 80px;
}


@media(max-width: 996px) {
  .form {
    width: 100% !important;
    padding: 20px;
  }
}

.form-input {
  padding: 12px;
}

.alter {
  width: fit-content;
  display: block;
  padding: 0 4px;
  margin-inline: auto;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.alter-line {
  top: -10px;
}


.social-btn {
  border: 1px solid #ccc;
  border-radius: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}