.item__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

@media (max-width: 768px) {
  .item__list {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1080px) {
  .item__list {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 1rem;
  }
}